@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Zeyada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/* common css starts */

/* Root Variable */
:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 52.5%;
    scroll-behavior: smooth;
  }
}
@media only screen and (max-width: 992px) {
  html {
    font-size: 42.5%;
    scroll-behavior: smooth;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 38.5%;
    scroll-behavior: smooth;
  }
}
a {
  text-decoration: none;
  color: black;
}
ul,
p {
  margin-bottom: 0;
}
ul li {
  list-style: none;
}

/* common css ends */

/* navigation section starts */

.contact-section {
  background-color: #4691f2;
  height: 5rem;
  color: white;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: auto auto;

  align-items: center;
}

.contact-section a {
  color: white;
}

.login-social-section {
  width: 100%;
  min-height: 5rem;
  background-color: black;
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
  margin-left: auto;
}

.vertical-line {
  border: 2px solid white;
  height: 3rem;
  margin-left: 16px;
}

.login-social-section i {
  height: 5rem;
  width: auto;
  border: 1px solid white;
  border-radius: 20px;
  padding: 4px 6px;
  color: #4691f2;
  background-color: white;
}

.nav-tab-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #6c6c6c;
  font-weight: bold;
  margin-top: 2rem;
  gap: 1rem;
  transition: all 0.8s ease-out;
}

.nav-tab-section a {
  color: #6c6c6c;
}

.nav-tab-section ul li {
  display: inline-block;
  position: relative;
}

.nav-tab-section ul li:hover:before {
  content: "";
  position: absolute;
  top: 20px;
  background: #4691f2;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  left: calc(50% - 5px);
}

.nav-tab-section ul li a:hover {
  color: #4691f2;
}

.search-button {
  border: 1px solid #4691f2;
  border-radius: 20px;
  padding: 2px 6px;
}

.search-button i {
  color: #4691f2;
}

.contact-us-btn button {
  background-color: #4691f2;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-weight: 500;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .contact-section {
    grid-template-columns: auto;
  }

  .login-social-section {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .nav-tab-section {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    transition: all 2s;
  }

  .NavTran {
    transition: all 2s ease-out;
  }

  .contact-us-btn button {
    margin: 10px auto;
  }

  .search-button {
    margin: 10px auto;
  }

  .hamburger {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    transition: all 0.9s;
  }

  .hamburger i {
    font-size: 2.7rem;
  }

  .nav-links-section {
    transition: 0.8s;
    transform: translateY(-60rem);
    max-height: 0;
  }

  .nav-links-section.active {
    transform: translateY(0);
    max-height: 40rem;
  }
}
/* navigation section ends */

.section-gap {
  margin-top: 10rem;
}

/* =================common css end ============*/

body {
  background: url(../image/map\ image.png);
  font-size: 1.6rem;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* ==============hero section css style================= */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  padding: 10rem 0 0 0;
}

.hero .content {
  width: 45rem;
}

.hero .content .hero-title {
  font-family: "Zeyada", cursive;
  font-weight: 600;
  font-size: 1.8rem;
  transition: 0.8s;
  transform: translateX(15rem);
}

.hero .content .hero-title.animation {
  transform: translateX(0);
}

.hero .content .hero-header {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 4.5rem;
  transform: translateX(-15rem);
  transition: 0.8s;
}

.hero .content .hero-header.animation {
  transform: translateX(0);
}

.hero .content .hero-paragraph {
  font-size: 1.6rem;
  transform: translateY(10rem);
  transition: 0.8s;
}

.hero .content .hero-paragraph.animation {
  transform: translateY(0);
}

.hero .content .hero-btn {
  font-size: 2rem;
  border-radius: 50px;
  transform: translateX(15rem);
  transition: 0.8s linear;
  margin-top: 3rem;
}

.hero .content .hero-btn.animation {
  transform: translateX(0);
}

.content .hero-btn i {
  font-size: 1.6rem;
}

.hero .banner-image .hero-img1 {
  transform: translateY(-8rem);
  transition: 0.8s;
}

.hero .banner-image .hero-img2 {
  transform: translateY(8rem);
  transition: 0.8s;
}

.hero .banner-image .hero-img3 {
  transform: translateX(-15rem);
  transition: 0.8s;
}

.hero .banner-image img.animation {
  transform: translate(0);
}

.hero .banner-image .hero-circle {
  width: 150px;
  height: 150px;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.8s;
}

.hero .banner-image .hero-circle.animation {
  opacity: 1;
}

.hero .banner-image .hero-circle img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .hero .content {
    width: 100%;
  }
  .banner-image {
    width: 100%;
  }
}

/* ================Hero Section End================== */

/* Booking From start */
.booking-from .input-aria {
  border: 0.25rem solid #c8defb;
}
.booking-from .input-aria input {
  font-weight: 600;
}
.booking-from .button-aria button {
  font-weight: 600;
  font-size: 2.3rem;
  background-color: #4691f2;
  color: white;
}
.booking-from .button-aria button i {
  font-weight: 600;
  font-size: 2.3rem;
  color: white;
}

@media only screen and (max-width: 992px) {
  .booking-from .container {
    border-radius: 45px !important;
  }
  html {
    font-size: 50.5%;
  }
}

/* Booking From start */
.about .wrapper h5 {
  font-family: "Zeyada", cursive;
  font-size: 2.5rem;
  font-weight: 500;
  color: #4691f2;
}
.about .wrapper h3 {
  font-size: 5rem;
  color: #1a1313;
}
.about .wrapper p {
  font-size: 1.8rem;
  color: #6c6c6c;
  font-weight: 400;
}

/* Booking From end */

/* ===========about start=========== */
.about .overlay {
  position: absolute;
  width: 20.3rem;
  height: 64.56rem;
  background: linear-gradient(180deg, #4691f2, #4691f200);
  top: -13rem;
  left: 0rem;
  transform: rotate(-45deg);
  z-index: -10;
}
.img-wrapper .image-box {
  width: 60%;
}
.img-wrapper .image-group {
  width: 32%;
}

.wrapper .mark-text h4 {
  font-size: 2rem;
  color: #1a1313;
}
.wrapper .button-box a {
  font-size: 2rem;
}

/* ===========about From end=========== */

/* =============Hotel Booking============*/
.hotel-booking {
  padding: 10rem 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(70, 145, 242, 0.1),
    rgba(70, 145, 242, 0)
  );
}

.hotel-booking .booking-title {
  font-family: "Zeyada", cursive;
  font-weight: 600;
  font-size: 2.4rem;
  color: #4691f2;
  transition: 0.8s;
  text-align: center;
  transform: translateY(-8rem);
  transition: 0.8s;
}

.hotel-booking .booking-title.animation {
  transform: translate(0);
}

.hotel-booking .booking-header {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  text-align: center;
  transition: 0.8s;
  transform: scale(0);
}

.hotel-booking .booking-header.animation {
  transform: scale(1);
}

.hotel-booking .group-box .card {
  width: 35rem;
  padding: 0.6rem;
  border-radius: 1rem;
  background-color: white;
  transition: 0.8s all;
}

.hotel-booking .group-box .card:nth-child(1) {
  transform: translateY(-15rem) translateX(-10rem);
}
.hotel-booking .group-box .card:nth-child(2) {
  transform: translateX(18rem) translateY(-15rem);
}
.hotel-booking .group-box .card:nth-child(3) {
  transform: translateY(15rem) translateX(10rem);
}

.hotel-booking .group-box .card.animation {
  transform: translate(0);
}

@media only screen and (max-width: 565px) {
  .hotel-booking .group-box .card:nth-child(odd) {
    transform: translateX(-10rem) translateY(0);
  }
  .hotel-booking .group-box .card:nth-child(even) {
    transform: translateX(10rem) translateY(0);
  }
  .hotel-booking .group-box .card.animation {
    transform: translate(0);
  }
}

.hotel-booking .group-box .card .card-title {
  font-size: 2.2rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

.hotel-booking .group-box .card i {
  color: rgba(70, 145, 242, 1);
}

.hotel-booking .group-box .card .map-user .map {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.6rem;
}

.hotel-booking .group-box .card .map-user .user {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.6rem;
}

.hotel-booking .group-box .card .price-buy h3 {
  font-size: 3.6rem;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
}

.hotel-booking .group-box .card .price-buy h3 span {
  font-size: 1.6rem;
  font-weight: 600;
}

.hotel-booking .group-box .card .price-buy .buy {
  height: 4.4rem;
  width: 4.4rem;
  background-color: rgba(70, 145, 242, 1);
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.hotel-booking .group-box .card .price-buy .buy i {
  font-size: 1.8rem;
  color: white;
}

.hotel-booking .arrow-center {
  width: 100%;
  margin: 4rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel-booking .arrow {
  width: 10.6rem;
  height: 4.8rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: rgba(70, 145, 242, 1);
  font-size: 2rem;
  background-color: white;
  box-shadow: 0 0 0.2rem black;
}

.hotel-booking .arrow i {
  cursor: pointer;
}
/* =================Hotel Booking End====================== */

/* =================Hotel Counter Start====================== */

.counter {
  position: relative;
  width: 100%;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter .counter-boxes h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
}

.counter .counter-boxes h6 {
  font-family: "Mulish", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 8px;
}

.counter .counter-boxes img {
  width: 100px;
  height: 100px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.counter .counter-boxes {
  width: 255px;
  height: 255px;
  margin: 12px;
  background: #fdfdfd;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 30px 0px #00000014;
  border-radius: 15px;
  align-self: center;
}

.counter .counter-boxes:hover {
  background: #c8defb;
  transition: ease-in 0.5s;
}

.overlay span {
  z-index: -5;
  position: absolute;
  top: 2104.74px;
  left: 1392.22px;
  width: 20.3rem;
  height: 64.56rem;
  /* transform: rotate(135deg); */
  transform: rotate(45deg);
  background: linear-gradient(180deg, #4691f2 0%, rgba(70, 145, 242, 0) 100%);
}

/* =================Hotel Counter End====================== */

/* ==================Testimonial Start====================== */

.testimonials {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.testimonials .overlay {
  position: absolute;
  width: 20.3rem;
  height: 64.56rem;
  background: linear-gradient(180deg, #4691f2, #4691f200);
  top: -8rem;
  left: 5rem;
  transform: rotate(-45deg);
}

.testimonials .tml-title {
  color: #4691f2;
  font-size: 2.4rem;
  font-family: "Zeyada", cursive;
  font-weight: 400;
}

.testimonials .tml-header {
  color: #000000;
  font-size: 4.4rem;
  font-weight: 700;
  font-family: "Space Grotesk", sans-serif;
}

.testimonials .tml-group {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  position: relative;
  margin-top: 5rem;
}

.tml-group .tml-small-img {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 2rem;
}

.tml-small-img .tml-img:nth-child(even) {
  transition: 0.8s;
  transform: translateX(15rem);
}

.tml-small-img .tml-img:nth-child(odd) {
  transition: 0.8s;
  transform: translateX(-15rem);
}

.tml-group .tml-group-text {
  position: relative;
  display: flex;
}

.tml-group .tml-group-text .text {
  margin-left: 3rem;
}

.tml-group .tml-group-text h4 {
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 1rem;
}

.tml-group .tml-group-text h5 {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}

.tml-group .tml-group-text p {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  max-width: 38rem;
  margin-top: 3rem;
}

.tml-group-text .btn {
  height: 50px;
  width: 50px;
  background-color: #4691f2;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
}

.tml-group-text .btn i {
  font-size: 2.5rem;
  color: white;
}

@media only screen and (max-width: 768px) {
  .testimonials .tml-group {
    flex-direction: column;
  }

  .tml-group .tml-group-text .text {
    padding-top: 4rem;
  }
}

/*==================Testimonial End====================== */

/* =================Call to action Start====================== */
.callToAction {
  width: 100%;
  background: url("../image/call-to-action.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10rem 0 0 0;
}

.callToAction .content {
  margin: 8rem 0;
  padding: 2rem;
  border-radius: 10px;
}

.callToAction .content .cta-header {
  font-size: 4.4rem;
  text-align: center;
  font-weight: 700;
  font-family: "Space Grotesk", sans-serif;
  color: white;
  transition: 0.8s;
  transform: translateX(15rem);
}

.callToAction .content .cta-header.animation {
  transform: translate(0);
}

.callToAction .content .cta-paragraph {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  color: white;
  transition: 0.8s;
  transform: scale(0);
}

.callToAction .content .cta-paragraph.animation {
  transform: scale(1);
}

.callToAction .content .cta-btn {
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem 1.5rem;
  border: 0;
  transition: 0.8s;
  transform: translateX(-30rem);
}

.callToAction .content .cta-btn.animation {
  transform: translateX(0);
}

.callToAction .content .cta-btn .btn-text {
  color: #4691f2;
  font-size: 1.6rem;
  font-weight: 800;
}

.callToAction .content .cta-btn .btn-icon {
  font-size: 2rem;
  color: #4691f2;
}

/* =================Call to action End====================== */

/* =================Hotel blog Start====================== */
.blog {
  margin: 10rem 0 0 0;
  position: relative;
}

.blog .overlay {
  position: absolute;
  width: 20.3rem;
  height: 64.56rem;
  background: linear-gradient(180deg, #4691f2, #4691f200);
  top: -8rem;
  right: 0;
  transform: rotate(45deg);
}

.blog .blog-title {
  font-size: 2.4rem;
  font-weight: 800;
  font-family: "Zeyada", cursive;
  color: #4691f2;
}

.blog .blog-header {
  font-size: 4.4rem;
  font-weight: 700;
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 2rem;
}

.blog .card {
  width: 35rem;
  border-radius: 15px;
  padding: 0;
  overflow: hidden;
}

.blog .card .card-title {
  font-size: 2.2rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

.blog .card .card-header {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}

.blog .card .card-footer {
  background-color: white;
  border: 0;
}

.blog .card .card-footer .text {
  color: #4691f2;
  font-size: 1.8rem;
  font-weight: 800;
  font-family: "Mulish", sans-serif;
  cursor: pointer;
}

.blog .blog-title {
  transition: 0.8s;
  transform: scale(0);
}

.blog .blog-title.animation {
  transform: scale(1);
}

.blog .blog-header {
  transform: translateX(20rem);
  transition: 0.8s;
}

.blog .blog-header.animation {
  transform: translateX(0);
}

.blog .card:nth-child(odd) {
  transform: translateY(-15rem);
  transition: 0.8s;
}

.blog .card:nth-child(even) {
  transform: translateY(15rem);
  transition: 0.8s;
}

@media only screen and (max-width: 768px) {
  .blog .card:nth-child(odd) {
    transform: translateX(-15rem);
    transition: 0.8s;
  }

  .blog .card:nth-child(even) {
    transform: translateX(15rem);
    transition: 0.8s;
  }
}

.blog .card.animation {
  transform: translate(0);
}

/* =================Hotel blog End====================== */

/* footer starts */
.footer-column {
  padding: 6rem 0;
}
footer .container {
  max-width: 72%;
  justify-content: center;
  align-items: center;
}
.footer-column ul {
  padding: 0;
}

.footer-column i {
  border: 1px solid #4691f2;
  border-radius: 20px;
  padding: 3px 5px;
  color: white;
  background-color: #4691f2;
  font-size: 1rem;
}

.footer-column ul li a {
  color: #6c6c6c;
  font-size: 1.2rem;
}
.footer-contact li {
  padding-bottom: 0.8rem;
}
.footer-contact li i {
  margin-right: 0.5rem;
}

/* footer ends */
