@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Zeyada&display=swap");
/* common css starts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: black;
}
ul,
p {
  margin-bottom: 0;
}
ul li {
  list-style: none;
}

/* common css ends */

/* navigation section starts */

.contact-section {
  background-color: #4691f2;
  height: 5rem;
  color: white;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: auto auto;

  align-items: center;
}
.contact-section a {
  color: white;
}
.login-social-section {
  width: 100%;
  min-height: 5rem;
  background-color: black;
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
  margin-left: auto;
}
.vertical-line {
  border: 2px solid white;
  height: 3rem;
  margin-left: 16px;
}
.login-social-section i {
  height: 5rem;
  width: auto;
  border: 1px solid white;
  border-radius: 20px;
  padding: 4px 6px;
  color: #4691f2;
  background-color: white;
}

.nav-tab-section {
  font-size: 1.5rem;
  color: #6c6c6c;
  font-weight: bold;
}
.nav-tab-section a {
  color: #6c6c6c;
}
.nav-tab-section ul li {
  display: inline-block;
  position: relative;
}
.nav-tab-section ul li:hover:before {
  content: "";
  position: absolute;
  top: 20px;
  background: #4691f2;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  left: calc(50% - 5px);
}
.nav-tab-section ul li a:hover {
  color: #4691f2;
}

.search-button {
  border: 1px solid #4691f2;
  border-radius: 20px;
  padding: 2px 6px;
}
.search-button i {
  color: #4691f2;
}
.contact-us-btn button {
  background-color: #4691f2;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-weight: 500;
}
/* navigation section ends */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 52.5%;
    scroll-behavior: smooth;
  }
}
@media only screen and (max-width: 992px) {
  html {
    font-size: 42.5%;
    scroll-behavior: smooth;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 38.5%;
    scroll-behavior: smooth;
  }
}



.section-gap {
  margin-top: 10rem;
}

/* =================common css end ============*/

body {
  background: url(../image/map\ image.png);
  font-size: 1.6rem;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* ==============hero section css style================= */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  padding: 10rem 0 0 0;
}

.hero .content {
  width: 45rem;
}

.hero .content .hero-title {
  font-family: "Zeyada", cursive;
  font-weight: 600;
  font-size: 1.8rem;
  transition: 0.8s;
  transform: translateX(15rem);
}

.hero .content .hero-title.animation {
  transform: translateX(0);
}

.hero .content .hero-header {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 4.5rem;
  transform: translateX(-15rem);
  transition: 0.8s;
}

.hero .content .hero-header.animation {
  transform: translateX(0);
}

.hero .content .hero-paragraph {
  font-size: 16px;
  transform: translateY(10rem);
  transition: 0.8s;
}

.hero .content .hero-paragraph.animation {
  transform: translateY(0);
}

.hero .content .hero-btn {
  font-size: 2rem;
  border-radius: 50px !important;
  transform: translateX(15rem);
  transition: 0.8s linear;
}

.hero .content .hero-btn.animation {
  transform: translateX(0);
}

.content .hero-btn i {
  font-size: 1.6rem;
}

.hero .banner-image .hero-img1 {
  transform: translateY(-8rem);
  transition: 0.8s;
}

.hero .banner-image .hero-img2 {
  transform: translateY(8rem);
  transition: 0.8s;
}

.hero .banner-image .hero-img3 {
  transform: translateX(-15rem);
  transition: 0.8s;
}

.hero .banner-image img.animation {
  transform: translate(0);
}

.hero .banner-image .hero-circle {
  width: 150px;
  height: 150px;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.8s;
}

.hero .banner-image .hero-circle.animation {
  opacity: 1;
}

.hero .banner-image .hero-circle img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .hero .content {
    width: 100%;
  }
}

/* ================Hero Section End================== */

/* Booking From start */
.booking-from .input-aria {
  border: 0.25rem solid #c8defb;
}
.booking-from .input-aria input {
  font-weight: 600;
}
.booking-from .button-aria button {
  font-weight: 600;
  font-size: 2.3rem;
  background-color: #4691f2;
  color: white;
}
.booking-from .button-aria button i {
  font-weight: 600;
  font-size: 2.3rem;
  color: white;
}

@media only screen and (max-width: 992px) {
  .booking-from .container {
    border-radius: 45px !important;
  }
  html {
    font-size: 50.5%;
  }
}

/* Booking From start */
.about .wrapper h5 {
  font-family: "Zeyada", cursive;
  font-size: 2.5rem;
  font-weight: 500;
  color: #4691f2;
}
.about .wrapper h3 {
  font-size: 5rem;
  color: #1a1313;
}
.about .wrapper p {
  font-size: 1.8rem;
  color: #6c6c6c;
  font-weight: 400;
}

/* Booking From end */

/* ===========about start=========== */
.img-wrapper .image-box{
  width: 60%;
}
.img-wrapper .image-group{
  width: 32%;
}

.wrapper .mark-text h4 {
  font-size: 2rem;
  color: #1a1313;
}
.wrapper .button-box a {
  font-size: 2rem;
}

/* ===========about From end=========== */

/* =============Hotel Booking============*/
.hotel-booking {
  padding: 10rem 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(70, 145, 242, 0.1),
    rgba(70, 145, 242, 0)
  );
}

.hotel-booking .booking-title {
  font-family: "Zeyada", cursive;
  font-weight: 600;
  font-size: 2.4rem;
  color: #4691f2;
  transition: 0.8s;
  text-align: center;
  transform: translateY(-8rem);
  transition: 0.8s;
}

.hotel-booking .booking-title.animation {
  transform: translate(0);
}

.hotel-booking .booking-header {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  text-align: center;
  transition: 0.8s;
  transform: scale(0);
}

.hotel-booking .booking-header.animation {
  transform: scale(1);
}

.hotel-booking .group-box .card {
  width: 35rem;
  padding: 0.6rem;
  border-radius: 1rem;
  background-color: white;
  transition: 0.8s all;
}

.hotel-booking .group-box .card:nth-child(1) {
  transform: translateY(-15rem) translateX(-10rem);
}
.hotel-booking .group-box .card:nth-child(2) {
  transform: translateX(18rem) translateY(-15rem);
}
.hotel-booking .group-box .card:nth-child(3) {
  transform: translateY(15rem) translateX(10rem);
}

.hotel-booking .group-box .card.animation {
  transform: translate(0);
}

@media only screen and (max-width: 565px) {
  .hotel-booking .group-box .card:nth-child(odd) {
    transform: translateX(-10rem) translateY(0);
  }
  .hotel-booking .group-box .card:nth-child(even) {
    transform: translateX(10rem) translateY(0);
  }
  .hotel-booking .group-box .card.animation {
    transform: translate(0);
  }
}

.hotel-booking .group-box .card .card-title {
  font-size: 2.2rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

.hotel-booking .group-box .card i {
  color: rgba(70, 145, 242, 1);
}

.hotel-booking .group-box .card .map-user .map {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.6rem;
}

.hotel-booking .group-box .card .map-user .user {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.6rem;
}

.hotel-booking .group-box .card .price-buy h3 {
  font-size: 3.6rem;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
}

.hotel-booking .group-box .card .price-buy h3 span {
  font-size: 1.6rem;
  font-weight: 600;
}

.hotel-booking .group-box .card .price-buy .buy {
  height: 4.4rem;
  width: 4.4rem;
  background-color: rgba(70, 145, 242, 1);
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.hotel-booking .group-box .card .price-buy .buy i {
  font-size: 1.8rem;
  color: white;
}

.hotel-booking .arrow-center {
  width: 100%;
  margin: 4rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel-booking .arrow {
  width: 10.6rem;
  height: 4.8rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: rgba(70, 145, 242, 1);
  font-size: 2rem;
  background-color: white;
  box-shadow: 0 0 0.2rem black;
}

.hotel-booking .arrow i {
  cursor: pointer;
}
/* =================Hotel Booking End====================== */
